<!-- <div class="container spacer"> -->
<!-- <div class="panel panel-infos"> -->
<!-- <div class="panel-body"> -->

<!-- <div class="tab-content">
        <div class="tab-pane active"> -->
<!-- <span *ngIf="theMessage">
            <div class="alert alert-danger spacer-leftV2" role="alert" *ngIf="theMessage.categoryMessage.number==2">
              {{theMessage.theMessage}}
            </div>
            <div class="alert alert-success spacer-leftV2" role="alert" *ngIf="theMessage.categoryMessage.number==1">
              {{theMessage.theMessage}}
            </div>
          </span> -->

<div class="card width50" *ngIf="userFromAp">
  <h3 class="card-header">Vos identifiants terreIyaki</h3>

  <div class="card-body">
    <p class="card-text">
      Login : <strong>{{userFromAp.login}}</strong>
    </p>
    <p class="card-text">
      Prénom : <strong>{{userFromAp.firstName}}</strong>
    </p>
    <p class="card-text">Nom : <strong>{{userFromAp.lastName}}</strong></p>
    <a *ngIf="userFromAp&&modifier!='true'" type="button" class="btn btn-primary" (click)="modifierProfil()"><p>Modifier</p></a>

  </div>
</div>

<div class="card width50" *ngIf="!userFromAp&&creer!='true'">
  <h3 class="card-header">Vos identifiants terreIyaki</h3>

  <div class="card-body">
    <button type="button" class="btn btn-primary" (click)="creerProfil()"><p>Créer votre profil
      </p>
    </button>
  </div>
</div>

<!-- si utilisateur enregistré a terreIyaki et si on clique sur modifier -->
<div class="card width50Top" *ngIf="userFromAp&&modifier=='true'">

  <div class="card-header bg-secondary"><span class="champToModif">Champs à modifier &nbsp;</span>
    <button class="btn btn-warning bouttonAnnuler" (click)=annuler()>Retour
    </button>
  </div>

  <div class="card-body">

    <form #f="ngForm" (ngSubmit)="modifierUserFromAp(f.value)">
      <div class="form-group">
        <label class="control-label"><p class="card-text">login</p></label>
        <input class="form-control" type="text" [(ngModel)]="userFromAp.login" name="login" required />
      </div>
      <div class="form-group">
        <label class="control-label"><p class="card-text">Nom</p></label>
        <input class="form-control" type="text" [(ngModel)]="userFromAp.lastName" name="lastName" required />
      </div>
      <div class="form-group">
        <label class="control-label"><p class="card-text">Prénom</p></label>
        <input class="form-control" type="text" [(ngModel)]="userFromAp.firstName" name="firstName" required />
      </div>

      <button [disabled]="!f.valid" type="submit" class="btn btn-info spacer-right-top"><p>Enregistrer</p>
      </button>

    </form>

  </div>
</div>

<!-- si utilisateur non enregistré a terreIyaki et si on clique sur creer -->
<div class="card width50Top" *ngIf="!userFromAp&&creer=='true'">

  <div class="card-header bg-secondary"><span class="champToModif">Enregistrez-vous &nbsp;</span>
    <button class="btn btn-warning bouttonAnnuler" (click)=annulerEnregistrement()>Retour
    </button>
  </div>

  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="creerUserFromAp(f.value)">
      <div class="form-group">
        <label class="control-label"><p class="card-text">login</p></label>

        <input class="form-control" type="text" [(ngModel)]="myUserModel.login" name="login" required />
      </div>
      <div class="form-group">
        <label class="control-label"><p class="card-text">Nom</p></label>
        <input class="form-control" type="text" [(ngModel)]="myUserModel.lastName" name="lastName" required />
      </div>
      <div class="form-group">
        <label class="control-label"><p class="card-text">Prénom</p></label>
        <input class="form-control" type="text" [(ngModel)]="myUserModel.firstName" name="firstName" required />
      </div>

      <button [disabled]="!f.valid" type="submit" class="btn btn-info spacer-right-top"><p>Enregistrer</p></button>

    </form>

  </div>
</div>