<div class="container spacer">
  <div class="panel panel-infos">
    <div class="panel-body">

      <div class="tab-content">
        <div class="tab-pane active">
          <table class="table-striped">

            <tr>
              <th *ngIf="!userFromAp">
                <span class="spacer-right">
                  Non enregistré à terreIyaki
                </span>
              </th>
              <th *ngIf="userFromAp">
                <span class="spacer-right">
                  Votre identitifant terreIyaki
                </span>
              </th>
            </tr>

            <tr>
              <td *ngIf="!userFromAp">
                <span class="spacer-right">

                </span>
              </td>
              <td *ngIf="userFromAp">
                <span class="spacer-right">
                  {{userFromAp.login}}
                </span>
              </td>
            </tr>

          </table>

          <ul class="nav nav-pills">
            <li *ngIf="userFromAp">
              <a class="active" (click)="enCours()">
                Modifier votre compte
              </a>
            </li>

            <li *ngIf="!userFromAp">
              <a class="active" (click)="enCours()">
                Créer votre profil
              </a>
            </li>
          </ul>

          <div class="panel panel-infos">
            <div class="panel-heading">Enregistrez-vous</div>
            <div class="panel-body">
              <form #f="ngForm" (ngSubmit)="creerUserFromAp(f.value)">
                <div class="form-group">
                  <label class="control-label">login</label>

                  <input class="form-control" type="text" [(ngModel)]="myUserModel.login" name="login" required />
                </div>
                <div class="form-group">
                  <label class="control-label">Nom</label>
                  <input class="form-control" type="text" [(ngModel)]="myUserModel.lastName" name="lastName" required />
                </div>
                <div class="form-group">
                    <label class="control-label">Prénom</label>
                    <input class="form-control" type="text" [(ngModel)]="myUserModel.firstName" name="firstName" required />
                  </div>
                <button [disabled]="!f.valid" type="submit" class="btn btn-success">Save </button>
              </form>

            </div>
          </div>

        </div>
      </div>