// .spacer-right{
//     margin-right: 10px;
// }

.spacer-right-top{
    margin-right: 0px;
    margin-top: 10px;
}

.width50{
    width: 45%;
}

.width50Top{
    width: 40%;
    margin-top: 2%;
}

.bouttonAnnuler{
    margin-right: 0;
    // margin-left: 1%;
    font-size: 2vmin;
}

.champToModif{
    font-size: 2vw;
}
