.image {
    max-width: 150px;
    // width:100%;
    height: auto;
    // display: block;
    background-position:50% 50%;
}


.image2 {
    max-width: 130px;
    // width:100%;
    height: auto;
    // display: block;
    background-position:50% 50%;
}

.carteNav{
    margin-bottom: 10%;
    margin-right: 1%;
}

.carteNav2{
    margin-bottom: 5%;
    margin-right: 1%;
}

.invitationChoix{
    text-align:center;
    // font-size : 30;
    margin-left:auto;
    margin-right:auto;
}

.produitComboList{
    width: 100%;
    margin-bottom: 5%;
}

.boutonMenu{
    margin-top:10%;
    margin-left:5px;
    margin-right: 10%;
}
.borderChoice{
    border-style:dotted;
 border-color:blue;
    border-width:1px;
}

.letterProduct{
    font-size: 15px;
}