.image {
   max-height: 80px;
    height: 100%;
    width:auto;
    display: block;
    background-position:50% 50%;
}

.carteNav{
    margin-bottom: 5%;
    margin-right: 1%;
}

.produitList{
    width: 100%;
    margin-bottom: 2%;
}