<div>
  <div>
    <div class="btn-group btn-group carteNav" [ngClass]="{'active':c.name==currentPage}" *ngFor="let c of categories">
      <button type="button" class="clickable" class="btn btn-outline-primary" (click)=getPlatsByCategory(c.name) *ngIf="c.name=='Entrées'||c.name=='Plats'||c.name=='Desserts'||c.name=='Boissons'"><p>{{c.name}}</p></button>
    </div>
    <div *ngIf="products">
      <div>
        <div class="row produitList" *ngFor="let p of products">
          <div class="col-md-2">
            <img class="img-responsive image" src={{p.picture}} />
          </div>
          <div class="col-md-8">
            <strong>{{p.name}}</strong>
            <br/>
            <p>{{p.description}}</p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-info spacer-right2" (click)=selectProduct(p.theId) *ngIf="panier.theId!=null">
              <p>{{p.vatPrice | currency:'EUR':true:'1.1-1'}}<br/>
              Ajouter</p> 
            </button>
            <button class="btn btn-info spacer-right2" (click)=veuillezCommander() *ngIf="panier.theId==null">
              <p>{{p.vatPrice | currency:'EUR':true:'1.1-1'}}</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>