<div class="container spacer">
  <div class="alert alert-success">
    <strong>Nos tables</strong>
  </div>

  <div class="container spacer">
    <div class="panel panel-info">
      <!-- si commande non choisi ou si commande a emporter 
        ==> pas de possibilité d'ouvrir une table -->
      <div class="panel-body" *ngIf="mode==0">

        <span *ngFor="let m of myTables | orderBy tableNumber">
          <button type="button" class="btn btn-primary spacer-right-top" (click)=tableFerme() *ngIf="m.statutName=='libre'">
            <p>N°{{m.tableNumber}}
              <span class="badge">
                {{m.statutName}}
              </span></p>
          </button>
          <button type="button" class="btn btn-danger spacer-right-top" (click)=tableFerme() *ngIf="m.statutName=='réservé'">
            <p>N°{{m.tableNumber}}
              <span class="badge">
                {{m.statutName}}
              </span></p>
          </button>
        </span>

      </div>
      <!-- si commande choisi avec type sur place 
            ==> possiblité d'ouvrir une table non réservé-->
      <div class="panel-body" *ngIf="mode==1">

        <span *ngFor="let m of myTables | orderBy tableNumber">
          <button type="button" class="btn btn-primary spacer-right-top" (click)=tableChoisi(m.tableNumber) *ngIf="m.statutName=='libre'">
            <p>N°{{m.tableNumber}}
              <span class="badge">
                {{m.statutName}}
              </span></p>
          </button>
          <button type="button" class="btn btn-danger spacer-right-top" (click)=impossibleTableReserve() *ngIf="m.statutName=='réservé'">
            <p> N°{{m.tableNumber}}
              <span class="badge">
                {{m.statutName}}
              </span></p>
          </button>
        </span>

      </div>

      <!-- si table déjà ouverte 
      ==> pas la possibilité d'ouvrir une nouvelle table -->
      <div class="panel-body" *ngIf="mode==2">


        <span *ngFor="let m of myTables | orderBy tableNumber">
          <button type="button" class="btn btn-primary spacer-right-top" (click)=tableDejaChoisi() *ngIf="m.statutName=='libre'">
            <p> N°{{m.tableNumber}}
              <span class="badge">
                {{m.statutName}}
              </span></p>
          </button>
          <button type="button" class="btn btn-danger spacer-right-top" (click)=tableDejaChoisi() *ngIf="m.statutName=='réservé'">
            <p>N°{{m.tableNumber}}
              <span class="badge">
                {{m.statutName}}
              </span></p>
          </button>
        </span>

      </div>

    </div>
  </div>

</div>