<div class="container spacer">
  <div class="panel panel-info">
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li>
          {{message}}
          <span *ngIf="theMessage!=null">{{theMessage.theMessage}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="container spacer">
    <div class="panel panel-info">
      <div class="panel-body" *ngIf="mode==1">
        <button type="button" 
        class="btn btn-primary spacer-right-top" 
        *ngFor="let m of myTables | orderBy tableNumber"
        (click)=tableChoisi(m.theId)>
          N°{{m.tableNumber}}
          <span class="badge">
            {{m.statutName}}
          </span>
        </button>
      </div>
      <div class="panel-body" *ngIf="mode==2">
          <button type="button" 
          class="btn btn-primary spacer-right-top" 
          *ngFor="let m of myTables | orderBy tableNumber"
          (click)=tableDejaChoisi(m.theId)>
            N°{{m.tableNumber}}
            <span class="badge">
              {{m.statutName}}
            </span>
          </button>
        </div>
    </div>
  </div>

</div>