// .pageApp{
//     margin:1%;
//     // min-height: 580px;
// }



.nav-pills>li>a {
    color: black;
    background-color: white;
}
    
.nav-pills > li > a:hover, .x-nav-tabs > .active > a, .x-nav-tabs > .active > a:hover {
    color: white;
    background: #0080FF;
}

.navVertical{
    height: 100%;
    border-style: inset;
}

.centrer{
    text-align:center;
}

// .navRow{
//      min-height: 400px;
   
// }


// header{
//     position:absolute;
//     top:1%;
//     left:1%;
//     right:1%;
// }

// footer{
//     position:absolute;
//     bottom:0%;
//     left:0%;
//     right:0%;
// }


// html, body {
// 	height: 100%;
// 	margin: 0; padding: 0;
// }
// body {
// 	display : table;
// 	width: 100%;
// }
// footer {
// 	display : table-row;
// 	height: 100px; /* à titre d'exemple */
// }
