.page{
    margin:1%;
    min-height: 580px;
}

.footerPage{
    margin-left:1%;
    margin-right:1%;
}

.nav-pills>li>a {
    color: black;
    background-color: white;
}
    
.nav-pills > li > a:hover, .x-nav-tabs > .active > a, .x-nav-tabs > .active > a:hover {
    color: white;
    background: #0080FF;
}

.navVertical{
    height: 100%;
    border-style: inset;
}

.navRow{
    min-height: 400px;
   
}

