<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home" >TerreIyaki</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home" >Profil</a></li>

        <li *ngIf="!user"><a class="clickable" class="active" (click)=loginWithGoogle() >Connexion</a></li>


        <li *ngIf="user"><a class="clickable" class="active" (click)=logoutWithGoogle() >Déconnexion</a></li>

      </ul>
      <span *ngIf="user">Connect as <br/>{{user.email}}</span>
      </div>
  </nav>
  


  <div class="container spacer">
    <button routerLink="/carte" routerLinkActive="active" class="btn btn-info spacer-right2">Carte</button>    
    <button routerLink="/menu" routerLinkActive="active" class="btn btn-info spacer-right2">Menus</button>
    <button routerLink="/home" routerLinkActive="active" class="btn btn-info spacer-right2">Commandes</button>
    <button routerLink="/myTable" routerLinkActive="active" class="btn btn-info spacer-right2">Tables</button>
    <button routerLink="/test" routerLinkActive="active" class="btn btn-alert spacer-right2">Test</button>
    </div>


    <router-outlet>
    </router-outlet>