<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">TerreIyaki</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="user">
        <a (click)="emailOnProfil(user.email)">Profil</a>
      </li>


      <li *ngIf="!user">
        <a class="clickable" class="active" (click)=loginWithGoogle()>Connexion</a>
      </li>

      <li *ngIf="user">
        <a class="clickable" class="active" (click)=allerCommander(user.email)>Commander</a>
      </li>

      <li *ngIf="user">
        <a class="clickable" class="active" (click)=allerPanier(user.email)>Panier</a>
        <!-- <a routerLink="/panier" routerLinkActive="active">Panier</a> -->
      </li>

      <li *ngIf="user">
        <a class="clickable" class="active" (click)=logoutWithGoogle()>Déconnexion</a>
      </li>

    </ul>
    <span *ngIf="user">
      <strong>Votre identifiant gmail</strong>
      <br/>{{user.email}}
    </span>
  </div>
</nav>

<!-- <div *ngIf="message">{{message}}</div> -->

<div class="container spacer" *ngIf="user">
  <!-- <button class="btn btn-info spacer-right2" (click)=allerCommander(user.email)>Commander</button> -->
  <button routerLink="/carte" routerLinkActive="active" class="btn btn-info spacer-right2">Carte</button>
  <button routerLink="/menu" routerLinkActive="active" class="btn btn-info spacer-right2">Menus</button>
  <button routerLink="/myTable" routerLinkActive="active" class="btn btn-info spacer-right2">Tables</button>
  <button routerLink="/test" routerLinkActive="active" class="btn btn-alert spacer-right2">Test</button>
</div>


<router-outlet>
</router-outlet>
<h3>Test page parent app - panier</h3>
<br/>
{{panier.theId}}
<br/>
{{panier.theDate}}
<br/>
{{panier.type}}
<br/>
{{panier.statut}}



