.messagePage{
    margin-top:1%;
    // margin-bottom:1%;
    // display: block;
    // width: 50%;
    // margin-left: 24%;
    // margin-right: 24%;
    width: 100%;
}

// .messageElement{
//     margin-left:auto;
//     margin-right:auto;
// }

.centrer{

     text-align:center;
    // margin-left: auto;
    // margin-right: auto;
}
