<div class="row">
  <div>
    <select [ngModel]="selectedDevice" (ngModelChange)="getOrderItemsFromMap($event)" class="spacer-left">
      <option [ngValue]="selectedDevice" disabled>
        <p>Choissisez votre commande</p>
      </option>
      <option *ngFor="let m of myOrders" [ngValue]="m.theId">
        <p>{{m.orderDate | date:'d/MM/yyyy' | uppercase}} - n°{{m.theId}} - TTC : {{m.vatAmount | currency:'EUR':true:'1.1-1'}}</p>
      </option>
    </select>
  </div>
</div>
<br/>
<div *ngIf="orderItemsDetailChoose">
  <div class="row">
    <div *ngIf="maCommande">
      <strong>Commande n°{{maCommande.theId}} - {{maCommande.orderType.name}} - {{maCommande.statut.name}} au {{maCommande.orderDate
        | date:'d/MM/yyyy' | uppercase}}</strong>
    </div>
  </div>
  <br/>
  <div class="row">
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-8">
              <p>produits</p>
            </th>
            <th class="col-md-1">
              <p>Ht</p>
            </th>
            <th class="col-md-1">
              <div class="spacer-right">
                <p>Qté</p>
              </div>
            </th>
            <th class="col-md-1">
              <p>TVA</p>
            </th>
            <th class="col-md-1">
              <p>Prix TTC</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orderItemsDetailChoose">
            <td *ngIf="o.product!=null">
              <div class="spacer-right">
                <p>{{o.product.name}}</p>
              </div>
            </td>
            <td *ngIf="o.product!=null">
              <div class="spacer-right">
                <p>{{o.price | currency:'EUR':true:'1.1-1'}}</p>
              </div>
            </td>
            <td *ngIf="o.product!=null">
              <div class="spacer-right">
                <p>1</p>
              </div>
            </td>
            <td *ngIf="o.product!=null">
              <div class="spacer-right">
                <p>{{o.tax | tvaTransform}}%</p>
              </div>
            </td>
            <td *ngIf="o.product!=null">
              <div class="spacer-right">
                <p>{{o.vatPrice | currency:'EUR':true:'1.1-1'}}</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Total</strong>
            </td>
            <td><strong>{{myOrderPrice | currency:'EUR':true:'1.1-1'}}</strong></td>
            <td></td>
            <td></td>
            <td>
                <strong>{{maCommande.vatAmount | currency:'EUR':true:'1.1-1'}}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
