
.titre{
    
    display: block;
    margin-top: 2%;


}



.centrer{
    font-size: 20px;
     text-align:center;
    // margin-left: auto;
    // margin-right: auto;
}


.logo{
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
}


// .logo{
//     width: 80%;
//     margin-left: auto;
//     margin-right: auto;
// }
