.carteNav{
    margin-bottom: 10%;
    margin-right: 1%;
}

.boutonConfirm{
    max-width : 60px;
    font-size: 2vmin;
    text-align:center;
}

// .spacer-right{
//     margin-right: 10px;
// }

// .spacer-right2{
//     margin-right: 5px;
// }

// .spacer-left-right{
//     margin-right: 5px;
//     margin-left: 10px;
// }