.carteNav{
    margin-bottom: 10%;
    margin-right: 1%;
}

.spacer-right{
    margin-right: 10px;
}

.spacer-right2{
    margin-right: 5px;
}

.spacer-left-right{
    margin-right: 5px;
    margin-left: 10px;
}